extends layout

block content

  form.well.well-lg(method='POST' action='/users')
    div.form-group
      div.input-group
        input.form-control(name='name' placeholder='add the name of a new user...')
        span.input-group-btn
          button.btn.btn-success Add User

  div.row
    each user in users
      div.col-sm-3
        div.panel.panel-default
          div.panel-heading
            h3 #{user.name}
            div.form-group
              form(method='POST' action='/users/' + user.id + '?_method=DELETE')
                button.btn.btn-danger.btn-sm Delete User
          div.panel-body
            form(method='POST' action='/users/' + user.id + '/awards')
              button.btn.btn-primary.btn-sm Award This User!

            if user.awards.length > 0
              ul
                each award in user.awards
                  li.award #{award.description}
                    form(method='POST' action='/users/' + user.id + '/awards/' + award.id + '?_method=DELETE')
                      button.btn.btn-warning.btn-xs Delete Award

            form.well(method='POST' action='/users/' + user.id + '?_method=PUT')
              div.form-group
                select.form-control(name='mentorId')
                  option(value='0' selected='true') -- Select --
                  option(value='1') Test!
              button.btn.btn-primary.btn-sm Select A Mentor
