extends layout

block content

  form.well.well-lg(method='POST' action='/users')
    div.form-group
      div.input-group
        input.form-control(name='name' placeholder='add the name of a new user...')
        span.input-group-btn
          button.btn.btn-success Add User

  div.row
    each viewModel in viewModels
      div.col-sm-3
        div.panel.panel-default
          div.panel-heading
            h3 #{user.name}
            div.form-group
              form(method='POST' action='/users/' + user.id + '?_method=DELETE')
                button.btn.btn-danger.btn-sm Delete User
          div.panel-body
            div.form-group
              form(method='POST' action='/users/' + user.id + '?_method=DELETE')
                button.btn.btn-danger.btn-sm Delete User
