body {
  font-family: 'Zilla Slab', serif;
  font-weight: 400;
}

h1, h2 {
  font-family: 'Zilla Slab', serif;
  font-weight: 700;
}

a, .btn {
  font-family: Roboto, sans-serif;
  font-weight: 400;
}

.page-header {
  border-bottom: 5px solid #eee;
  padding-bottom: 0;
  text-align: right;
}

.page-header h1 {
  margin-bottom: 0;
}

.nav {
  margin-bottom: 20px;
}

ul.list-group {
  border: none;
}

.form-group form {
  display: inline;
  margin-right: 10px;
}

.btn-danger {
  background-color: #eee;
  color: #d9534f;
}

.btn-primary {
  background-color: #eee;
  color: #337ab7;
}

.btn-warning {
  background-color: #eee;
  color: #f0ad4e;
}

.award {
  list-style: decimal;
}

.award button {
  margin-top: 5px;
}

.label {
  font-weight: 300;
}
